@use 'sass:color';
@use 'sass:math';

// An excellent open-source UI typeface with tall x-height from https://github.com/rsms/inter
// Do not use the outdated Google Fonts version
@import url('https://rsms.me/inter/inter.css');

// Fixme: combine font imports into one url for performance
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;0,700;1,400;1,700;1,700&display=swap');

@import url('https://use.typekit.net/oac4ohm.css');

@import '../fonts/darkmode-off.css';
@import '../fonts/darkmode-on.css';

// ================== Responsiveness

$critical-b: 370;
$low-b: 600;
$middle-b: 1000;
$high-b: 1400;

$breakpoint: $low-b * 1px;

@function linear($x1, $y1, $x2, $y2) {
  $gradient: math.div($y2 - $y1, $x2 - $x1);
  $offset: $y2 - $x2 * $gradient;
  @if $y1 < $y2 {
    @return clamp($y1 * 1px, $gradient * 100vw + $offset * 1px, $y2 * 1px);
  } @else {
    @return clamp($y2 * 1px, $gradient * 100vw + $offset * 1px, $y1 * 1px);
  }
}

// ================== Variables

:root {
  $ground: rgb(31, 31, 31);
  $text: hsl(24, 50%, 94%);

  --ground: #{$ground};
  --text: #{$text};
  --font: 'Darkmode On';
}

@media (prefers-color-scheme: light) {
  :root {
    $ground: hsl(24, 85%, 97.5%);
    $text: rgb(31, 31, 31);

    --ground: #{$ground};
    --text: #{$text};
    --font: 'Darkmode Off';
  }
}

$ground: var(--ground);
$text: var(--text);

$border-radius: 10px;

$space-1: 20;
$space-2: 20;
$space: $space-1 + $space-2;
$space-px: $space * 1px;
$toc-fr: 5;
$page-fr: 13;
$toc-bonus-width: $toc-fr * 1;
$page-bonus-width: $page-fr * 1;

$nav-bar-background-color: $ground;
$html-background-color: $ground;
$page-background-color: $ground;
$main-background-color: transparent;
$code-background-color: $ground;

$nav-bar-hover-background-color: $ground;
$nav-bar-box-shadow: none; // 0 0 8px rgba(0, 0, 0, 0.2), 0 0 16px rgba(0, 0, 0, 0.2), 0 0 32px rgba(0, 0, 0, 0.2);
$logo-box-shadow: none; // 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 4px 16px 0 rgba(0, 0, 0, 0.2);

$background-dot-spacing: 30px;
$background-dot-color: transparent;
$background-dot-size: 1.5px;

$nav-bar-height-value: 60;
$nav-bar-height: $nav-bar-height-value * 1px;
$nav-bar-padding: 0 $space-1 * 1px;
$nav-item-padding: 2px 8px 0;

$scroll-margin-top: ($nav-bar-height-value + $space) * 1px;

$page-margin: 0 auto;
$page-padding: 0;
$page-max-width: $middle-b * 1px;

$toc-padding-top: 40px;
$toc-padding-right: 40px;
$toc-padding-bottom: $toc-padding-top;
$toc-padding-left: 40px;
$toc-padding-left-negative: -40px;
$toc-padding: $toc-padding-top $toc-padding-right $toc-padding-bottom $toc-padding-left;

$main-padding-top: 40px;
$main-padding-right: 40px;
$main-padding-right-negative: -40px;
$main-padding-bottom: $main-padding-top;
$main-padding-left: 40px;
$main-padding: $main-padding-top $main-padding-right $main-padding-bottom $main-padding-left;

$img-padding: $border-radius;
$img-border-radius: $border-radius;

// ================== Logo

$middle-logo-column-width: 20;
$high-logo-column-width: 24;
$middle-logo-font-size: $middle-logo-column-width * 1.5;
$high-logo-font-size: $high-logo-column-width * 1.5;

$logo-font-family: 'Bebas Neue', ui-sans-serif, sans-serif;
$logo-font-size: linear($middle-b, $middle-logo-font-size, $high-b, $high-logo-font-size);
$logo-font-weight: 400;
$logo-line-height: $nav-bar-height;
$logo-color: white;

$logo-top: 0;
$logo-left: linear($middle-b, 0, $high-b, -$space-1 - 0.5 * $high-logo-column-width);
$logo-height: linear($middle-b, $nav-bar-height-value, $high-b, $nav-bar-height-value + 6);
$logo-width: 4em; // depends implicitly on $logo-font-size

// ================== Fonts

$nav-item-font-family: var(--font), ui-sans-serif, sans-serif;
$nav-item-font-size: linear($critical-b, 12, $high-b, 14);
$nav-item-font-weight: 600;
$nav-item-line-height: 1.4;
$nav-item-color: $text;

$header-font-family: var(--font), ui-sans-serif, sans-serif;
$header-font-sizes: 30px 26px 22px 20px 18px 16px;
$header-font-weights: 700 700 700 700 700 700;
$header-line-height: 1.4;
$header-color: $text;

$low-body-font-size: 14;
$body-font-family: var(--font), ui-sans-serif, sans-serif;
$body-font-size: 14px;
$body-font-weight: 400;
$body-line-height: 26px;
$body-color: $text;
$body-font-weight-bold: 700;

$link-color: $text;
$code-inline-link-color: $text;

$toc-font-size: 11px;
$toc-font-weight: $body-font-weight;
$toc-line-height: 26px;
$toc-color: $text;
$toc-hover-background-color: hsla(220, 90%, 75%, 0.1);
$toc-hover-color: $text;

$code-font-family: 'Roboto Mono', ui-monospace, monospace;
$code-block-font-size: 13px;
$code-block-font-weight: 335;
$code-block-line-height: $body-line-height;

// ================== Other

$nav-bar-border-color: transparent;
$page-divider-color: transparent;
$page-border-color: transparent;
$header-edge-color: transparent;
$table-edge-color: transparent;
$toc-edge-color: transparent;

$table-cell-padding: 8px 16px;
$table-font-size: $body-font-size;
$table-header-row-background-color: $ground;
$table-body-row-alt-background-color: $ground;

$code-block-border-radius: $border-radius;
$code-block-padding-vert: 14px;
$code-block-padding-horz: 20px;

$code-inline-padding: 2px 5px;
$code-inline-border-radius: 3px;
$code-inline-color: $text;
$code-inline-background-color: hsla(0, 0%, 50%, 0.2);
$code-inline-color-callout: $text;
$code-inline-background-color-callout: rgba(0, 0, 0, 40%);

$code-highlight-edge-width: 4px;
$code-highlight-edge-color: hsl(212, 70%, 55%);
$code-highlight-background-color: hsla(212, 70%, 70%, 0.1);

$blockquote-edge-width: 4px;
$blockquote-padding-left: $main-padding-left - $blockquote-edge-width + 1px;
$blockquote-body-color: $body-color;

$main-inner-spacing-vert: 20px;

$list-padding-left: 32px;
$list-item-padding-left: 4px;

$details-padding-left: $space-px;

$callout-border-radius: $border-radius;
$callout-padding: $main-inner-spacing-vert $details-padding-left;

$todo-red: hsl(0, 88%, 59%);
$todo-red-dark: hsl(0, 100%, 45%);

// ================== Mixins

@mixin header-text($header-level) {
  margin-bottom: 1 * $main-inner-spacing-vert !important;
  padding-bottom: 0.25em;

  font-family: $header-font-family;
  font-size: nth($header-font-sizes, $header-level);
  font-weight: nth($header-font-weights, $header-level);
  line-height: $header-line-height;
  color: $header-color;
}

@mixin body-text() {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  color: $body-color;

  i,
  em {
    font-style: italic;
  }

  b,
  strong {
    font-weight: $body-font-weight-bold;
  }
}

@mixin code-block-text {
  font-family: $code-font-family;
  font-size: $code-block-font-size;
  font-weight: $code-block-font-weight;
  line-height: $code-block-line-height;
}

@mixin code-inline-text {
  font-family: $code-font-family;
  font-size: 97%;
  font-weight: inherit;
  line-height: inherit;

  color: $code-inline-color;
  background-color: $code-inline-background-color;
  letter-spacing: -0.2px;
}

@mixin anchor-text($color, $hover-background-color: transparent, $hover-color: $color) {
  color: $color;

  text-decoration: underline;
  text-underline-offset: 0.1em;

  text-decoration-color: transparent;
  transition: text-decoration-color ease-in-out 0.23s 0.02s, background-color ease-in-out 0.23s 0.02s,
    color ease-in-out 0.23s 0.02s;

  &:focus,
  &:hover {
    text-decoration-color: $color;
    transition: text-decoration-color 0s, background-color 0s, color 0s;

    background-color: $hover-background-color;
    color: $hover-color;
  }
}

// ================== General styles

* {
  text-decoration-thickness: 1px;
  text-underline-offset: 0.15em !important;

  -webkit-font-smoothing: subpixel-antialiased;

  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;

  scroll-margin-top: $scroll-margin-top;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

a {
  word-break: normal;
  overflow-wrap: anywhere;

  // Temporary
  &[href='todo'] {
    @include anchor-text($todo-red);
  }
}

// ================== Other

.rgb-color-picker {
  display: grid;
  grid-template-columns: min-content minmax(0, 1fr);
  gap: $main-inner-spacing-vert;
  place-items: stretch;

  width: 100%;

  user-select: none;

  > * {
    border-radius: $border-radius !important;
    color: black;
  }

  > .rgb-color-picker-display {
    border: 1px solid white;
  }

  // selector doesn't have a class, but it overlaps exactly with this thing
  .saturation-black {
    touch-action: none; // disables scrolling
    cursor: pointer;
  }
}

// ================== Tables

table {
  border-collapse: collapse;
  font-size: $table-font-size;
}

td,
th {
  border: 1px solid $table-edge-color;
  padding: $table-cell-padding;
}

th {
  font-weight: $body-font-weight-bold;
}

thead {
  background-color: $table-header-row-background-color;
}

tbody > :nth-child(even) {
  background-color: $table-body-row-alt-background-color;
}
