@use 'sass:color';
@use 'sass:math';

// An excellent open-source UI typeface with tall x-height from https://github.com/rsms/inter
// Do not use the outdated Google Fonts version
@import url('https://rsms.me/inter/inter.css');

// Fixme: combine font imports into one url for performance
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,365;0,400;0,600&display=swap');

// ================== Responsiveness

$critical-b: 370;
$low-b: 600;
$middle-b: 920;
$high-b: 1240;

$breakpoint: $low-b * 1px;

@function linear($x1, $y1, $x2, $y2) {
  $gradient: math.div($y2 - $y1, $x2 - $x1);
  $offset: $y2 - $x2 * $gradient;
  @if $y1 < $y2 {
    @return clamp($y1 * 1px, $gradient * 100vw + $offset * 1px, $y2 * 1px);
  } @else {
    @return clamp($y2 * 1px, $gradient * 100vw + $offset * 1px, $y1 * 1px);
  }
}

// ================== Variables

$space-1: 15;
$space-2: 10;
$space: $space-1 + $space-2;
$space-px: $space * 1px;
$toc-fr: 4;
$page-fr: 13;
$toc-bonus-width: $toc-fr * 1;
$page-bonus-width: $page-fr * 1;

$nav-bar-background-color: hsl(0, 0%, 18%);
$html-background-color: hsl(0, 0%, 12%);
$page-background-color: hsl(0, 0%, 16%);
$main-background-color: hsl(0, 0%, 14%);
$code-background-color: hsl(0, 0%, 12%);

$nav-bar-hover-background-color: color.mix($nav-bar-background-color, $html-background-color, 25%);
$nav-bar-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2), 0 0 16px rgba(0, 0, 0, 0.2), 0 0 32px rgba(0, 0, 0, 0.2);
$logo-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.2), 4px 4px 16px 0 rgba(0, 0, 0, 0.2);

$background-dot-spacing: 30px;
$background-dot-color: rgb(50, 50, 50);
$background-dot-size: 1.5px;

$nav-bar-height-value: 55;
$nav-bar-height: $nav-bar-height-value * 1px;
$nav-bar-padding: 0 $space-1 * 1px;
$nav-item-padding: 2px 8px 0;

$scroll-margin-top: ($nav-bar-height-value + $space) * 1px;

$page-margin: 0 auto;
$page-padding: 0;
$page-max-width: linear($middle-b, $middle-b, $high-b, $middle-b + $toc-bonus-width + $page-bonus-width);

$toc-padding-top: $space-px;
$toc-padding-right: $space-px;
$toc-padding-bottom: $space-px;
$toc-padding-left: linear($middle-b, $space, $high-b, ($space + $toc-bonus-width));
$toc-padding-left-negative: linear($middle-b, -$space, $high-b, -($space + $toc-bonus-width));
$toc-padding: $toc-padding-top $toc-padding-right $toc-padding-bottom $toc-padding-left;

$main-padding-top: $space-px;
$main-padding-right: linear($middle-b, $space, $high-b, ($space + $page-bonus-width));
$main-padding-right-negative: linear($middle-b, -$space, $high-b, -($space + $page-bonus-width));
$main-padding-bottom: $space-px;
$main-padding-left: $space-px;
$main-padding: $main-padding-top $main-padding-right $main-padding-bottom $main-padding-left;

// ================== Logo

$middle-logo-column-width: 20;
$high-logo-column-width: 24;
$middle-logo-font-size: $middle-logo-column-width * 1.5;
$high-logo-font-size: $high-logo-column-width * 1.5;

$logo-font-family: 'Bebas Neue', ui-sans-serif, sans-serif;
$logo-font-size: linear($middle-b, $middle-logo-font-size, $high-b, $high-logo-font-size);
$logo-font-weight: 400;
$logo-line-height: $nav-bar-height;
$logo-color: white;

$logo-top: 0;
$logo-left: linear($middle-b, 0, $high-b, -$space-1 - 0.5 * $high-logo-column-width);
$logo-height: linear($middle-b, $nav-bar-height-value, $high-b, $nav-bar-height-value + 10);
$logo-width: 4em; // depends implicitly on $logo-font-size

// ================== Fonts

$nav-item-font-family: 'Inter Var', 'Inter', ui-sans-serif, sans-serif;
$nav-item-font-size: linear($critical-b, 12, $high-b, 14);
$nav-item-font-weight: 625;
$nav-item-line-height: 1.8;
$nav-item-color: hsl(0, 0%, 90%);

$header-font-family: 'Inter Var', 'Inter', ui-sans-serif, sans-serif;
$header-font-sizes: 28px 24px 20px 19px 18px 17px;
$header-font-weights: 545 515 515 515 515 515;
$header-line-height: 1.8;
$header-color: hsl(0, 0%, 92%);

$low-body-font-size: 14;
$body-font-family: 'Inter Var', monospace, ui-sans-serif, sans-serif;
$body-font-size: linear($critical-b, 15, $low-b, $low-body-font-size);
$body-font-weight: 365;
$body-line-height: 1.8;
$body-color: color.scale($header-color, $lightness: -7%);
$body-font-weight-bold: 625;
$body-color-bold: color.scale($header-color, $lightness: -4%);

$link-color: hsl(213, 100%, 72%);
$code-inline-link-color: hsl(213, 100%, 72%);

$toc-font-size: 11px;
$toc-font-weight: $body-font-weight;
$toc-line-height: $low-body-font-size * $body-line-height * 1px;
$toc-color: color.change($header-color, $alpha: 0.6);
$toc-hover-background-color: hsla(220, 90%, 75%, 0.1);
$toc-hover-color: $header-color;

$code-font-family: 'Roboto Mono', ui-monospace, monospace;
$code-block-font-size: linear($critical-b, 13, $low-b, 14);
$code-block-font-weight: 365;
$code-block-line-height: $body-line-height;

// ================== Other

$nav-bar-border-color: color.mix($header-color, $nav-bar-background-color, 10%);
$page-divider-color: color.mix($header-color, $page-background-color, 10%);
$page-border-color: $page-divider-color;
$header-edge-color: $page-divider-color;
$table-edge-color: $page-divider-color;
$toc-edge-color: color.mix($header-color, $page-background-color, 10%);

$table-cell-padding: 4px 8px;
$table-font-size: $body-font-size;

$code-block-border-radius: 8px;
$code-block-padding-vert: 14px;
$code-block-padding-horz: 20px;

$code-inline-padding: 0px 4px 1px 5px;
$code-inline-border-radius: 3px;
$code-inline-color: hsl(31, 90%, 55%);
$code-inline-background-color: color.change($html-background-color, $alpha: 0.8);
$code-inline-color-callout: hsl(31, 90%, 55%);
$code-inline-background-color-callout: rgba(0, 0, 0, 40%);

$code-highlight-edge-width: 4px;
$code-highlight-edge-color: hsl(220, 80%, 60%);
$code-highlight-background-color: hsla(220, 90%, 75%, 0.1);

$blockquote-edge-width: 4px;
$blockquote-padding-left: $main-padding-left - $blockquote-edge-width + 1px;
$blockquote-body-color: color.scale($body-color, $alpha: -35%);
$blockquote-body-color-bold: color.scale($body-color, $alpha: -20%);

$main-inner-spacing-vert: 18px;

$callout-border-radius: 8px;
$callout-padding: $main-inner-spacing-vert $space-px;

$list-padding-left: 32px;
$list-item-padding-left: 4px;

$todo-red: hsl(0, 88%, 59%);
$todo-red-dark: hsl(0, 100%, 45%);

// ================== Mixins

@mixin header-text($header-level) {
  padding-bottom: 0.3em;

  border-bottom: 1px solid $header-edge-color;

  font-family: $header-font-family;
  font-size: nth($header-font-sizes, $header-level);
  font-weight: nth($header-font-weights, $header-level);
  line-height: $header-line-height;
  color: $header-color;
}

@mixin body-text($color: $body-color, $color-bold: $body-color-bold) {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  color: $color;

  i,
  em {
    font-style: italic;
  }

  b,
  strong {
    font-weight: $body-font-weight-bold;
    color: $color-bold;
  }
}

@mixin code-block-text {
  font-family: $code-font-family;
  font-size: $code-block-font-size;
  font-weight: $code-block-font-weight;
  line-height: $code-block-line-height;
}

@mixin code-inline-text {
  font-family: $code-font-family;
  font-size: 97%;
  font-weight: inherit;
  line-height: inherit;

  color: $code-inline-color;
  background-color: $code-inline-background-color;
  letter-spacing: -0.2px;
}

@mixin anchor-text($color, $hover-background-color: transparent, $hover-color: $color) {
  color: $color;

  text-decoration: underline;
  text-underline-offset: 0.1em;

  text-decoration-color: transparent;
  transition: text-decoration-color ease-in-out 0.23s 0.02s, background-color ease-in-out 0.23s 0.02s,
    color ease-in-out 0.23s 0.02s;

  &:focus,
  &:hover {
    text-decoration-color: color.scale($color, $alpha: 0%);
    transition: text-decoration-color 0s, background-color 0s, color 0s;

    background-color: $hover-background-color;
    color: $hover-color;
  }
}

// ================== General styles

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

img {
  max-width: 100%;
  min-width: 0px;
}

figcaption {
  text-align: center;
}

a {
  word-break: normal;
  overflow-wrap: anywhere;
  @include anchor-text($link-color);

  code {
    color: $code-inline-link-color !important;
  }
}

a,
button {
  -webkit-tap-highlight-color: transparent;
}

a[href='todo'] {
  @include anchor-text($todo-red);
}

.math-display {
  text-align: center;
  overflow-x: auto;
}

blockquote {
  padding-left: $blockquote-padding-left;
  border-left: $blockquote-edge-width solid $page-divider-color;

  p {
    @include body-text($blockquote-body-color, $blockquote-body-color-bold);
    margin-bottom: $main-inner-spacing-vert;
  }
}

// ================== Text

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

slot.summarySlot,
summary {
  cursor: pointer;
}

// ================== Callouts

@mixin callout($background-color, $border-color, $content) {
  $background-color: color.mix($background-color, $main-background-color, 75%);
  $border-color: color.mix($border-color, $main-background-color, 75%);

  background-color: $background-color;
  border: 1px solid $border-color;

  > * {
    @include body-text(
      color.scale($header-color, $lightness: 15%),
      color.scale($header-color, $lightness: 30%)
    );

    margin-bottom: $main-inner-spacing-vert;
  }

  :not(pre) > code {
    color: $code-inline-color-callout;
    background-color: $code-inline-background-color-callout;
  }

  details {
    border-left: 1px solid $border-color;
    padding-left: $list-padding-left * 0.5;

    > summary {
      margin-left: -($list-padding-left * 0.5 + 1px);
      background-color: $background-color;
    }
    > :not(:first-child) {
      margin-top: $main-inner-spacing-vert;
    }
  }

  @if ($content == 'Todo: ') {
    background-color: white;
    border: white;

    > :first-child::before {
      content: $content;
    }
  } @else if ($content != '') {
    &::before {
      content: $content;
      display: inline-block;

      margin-bottom: $main-inner-spacing-vert;

      font-weight: $body-font-weight-bold;
      color: color.scale($header-color, $lightness: 50%);
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.task-callout,
.warning-callout,
.success-callout,
.error-callout,
.todo-callout {
  border-radius: $callout-border-radius;
  padding: $callout-padding;

  @media only screen and (max-width: $breakpoint) {
    border-radius: 0;
    border-left: none !important;
    border-right: none !important;

    margin-left: -$main-padding-left;
    margin-right: $main-padding-right-negative;
  }

  &.task-callout {
    counter-increment: task;
    @include callout(hsl(210, 82%, 25%), hsl(210, 82%, 50%), 'Task ' counter(task) ':');
  }
  &.warning-callout {
    @include callout(hsl(46, 80%, 26%), hsl(46, 80%, 48%), '');
  }
  &.success-callout {
    @include callout(hsl(110, 55%, 21%), hsl(110, 55%, 36%), '');
  }
  &.error-callout {
    @include callout(hsl(356, 58%, 25.5%), hsl(356, 58%, 51%), '');
  }
  &.todo-callout {
    @include callout(white, white, 'Todo: ');
    border-radius: 0;
    > :only-child {
      color: $todo-red-dark !important;
    }
  }
}

// ================== Other

.rgb-color-picker {
  display: grid;
  grid-template-columns: min-content minmax(0, 1fr);
  gap: $main-inner-spacing-vert;
  place-items: stretch;

  width: 100%;

  user-select: none;

  > * {
    border-radius: $code-block-border-radius !important;
    color: black;
  }

  > .rgb-color-picker-display {
    border: 1px solid white;
  }

  // selector doesn't have a class, but it overlaps exactly with this thing
  .saturation-black {
    touch-action: none; // disables scrolling
    cursor: pointer;
  }
}

// ================== Tables

table {
  border-collapse: collapse;
  font-size: $table-font-size;
}

td,
th {
  border: 1px solid $table-edge-color;
  padding: $table-cell-padding;
}

th {
  font-weight: $body-font-weight-bold;
}
