@use 'sass:color';
@use 'sass:math';

// An excellent open-source UI typeface with tall x-height from https://github.com/rsms/inter
// Do not use the outdated Google Fonts version
@import url('https://rsms.me/inter/inter.css');

// Fixme: combine font imports into one url for performance
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,365;0,400;0,600&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,425;0,500;0,550;0,600;0,650;0,700;1,400;1,425;1,500;1,550;1,600;1,650;1,700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

// ================== Variables

$breakpoint: 750px;

$header-font-family: 'Source Sans Pro', ui-sans-serif, sans-serif; // Fixme: monospace is here for debugging only
$h1-font-size: 32px;
$h2-font-size: 26px;
$h3-font-size: 23px;
$h4-font-size: 21px;
$h5-font-size: 20px;
$h6-font-size: 19px;
$h1-font-weight: 600;
$h2-font-weight: 600;
$h3-font-weight: 600;
$h4-font-weight: 600;
$h5-font-weight: 600;
$h6-font-weight: 600;
$header-line-height: 1.2;
$header-color: rgb(10, 10, 10);

$body-font-family: 'Inter', ui-sans-serif, sans-serif;
$body-font-size: 14px;
$body-font-weight: 400;
$body-font-weight-italics: 400;
$body-font-weight-bold: 600;
$body-line-height: 1.75;
$body-color: rgb(15, 15, 15);

$table-border-color: #e0e0e0;
$table-border: 1px solid $table-border-color;
$table-cell-padding: 4px 8px;
$table-font-size: $body-font-size;

$code-font-family: 'Roboto Mono', ui-monospace, monospace;

$code-block-font-size: 13px;
$code-block-font-weight: 365;
$code-block-line-height: 1.75;
$code-block-border-radius: 10px;
$code-block-padding-vertical: 20px;
$code-block-padding-horizontal: 20px;

$code-inline-padding: 1px 5px 2px;
$code-inline-border-radius: 3px;
$code-inline-color: rgb(5, 5, 5);
$code-inline-background-color: #e0e0e0;

$code-highlight-edge-width: 6px;
$code-highlight-edge-color: rgb(59, 130, 255);
$code-highlight-background-color: hsla(230, 100%, 75%, 0.1);

$callout-border-radius: 10px;

$list-padding-left: 32px;
$list-item-padding-left: 8px;

$main-content-vertical-margin: 16px;

// ================== Mixins

@mixin header-text($font-size, $font-weight) {
  padding-bottom: 0.3em;

  border-bottom: 1px solid #e0e0e0;

  font-family: $header-font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $header-line-height;
  color: $header-color;
}

@mixin body-text {
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  line-height: $body-line-height;
  color: $body-color;

  i,
  em {
    font-style: italic;
    font-weight: $body-font-weight-italics;
  }

  b,
  strong {
    font-weight: $body-font-weight-bold;
  }
}

@mixin code-block-text {
  font-family: $code-font-family;
  font-size: $code-block-font-size;
  font-weight: $code-block-font-weight;
  line-height: $code-block-line-height;
}

@mixin code-inline-text {
  font-family: $code-font-family;
  font-size: 97%;
  font-weight: inherit;
  line-height: inherit;

  color: $code-inline-color;
  background-color: $code-inline-background-color;
}

// ================== General styles

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

* {
  -webkit-font-smoothing: subpixel-antialiased;

  box-sizing: border-box;

  margin: 0;
  padding: 0;

  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;

  background-color: transparent;
}

body {
  height: 100vh;
  width: 100vw;

  // Attempt at fixing iOS Safari
  @supports (-webkit-touch-callout: none) {
    height: -webkit-fill-available;
  }
}

img {
  max-width: 100%;
  min-width: 0px;
}

// ================== Text

h1 {
  @include header-text($h1-font-size, $h1-font-weight);
}

h2 {
  @include header-text($h2-font-size, $h2-font-weight);
}

h3 {
  @include header-text($h3-font-size, $h3-font-weight);
}

h4 {
  @include header-text($h4-font-size, $h4-font-weight);
}

h5 {
  @include header-text($h5-font-size, $h5-font-weight);
}

h6 {
  @include header-text($h6-font-size, $h6-font-weight);
}

.icon.icon-link {
  background-color: red;
  height: 10px;
  width: 10px;
}

p {
  @include body-text;
}

ol,
ul {
  padding-left: $list-padding-left;
}

.image-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  padding-left: $list-item-padding-left;
}

slot.summarySlot,
summary {
  cursor: pointer;
}

// ================== Callouts

@mixin callout($color, $content) {
  background-color: color.change($color, $alpha: 0.3);
  border: 1px solid $color;
}

.task-callout,
.warning-callout,
.success-callout,
.error-callout {
  border-radius: $callout-border-radius;
  padding: $main-content-vertical-margin;

  &.task-callout {
    @include callout(hsl(198, 58%, 73%), '');
  }
  &.warning-callout {
    @include callout(rgb(255, 208, 120), '');
  }
  &.success-callout {
    @include callout(rgb(159, 231, 146), '');
  }
  &.error-callout {
    @include callout(rgb(246, 155, 155), '');
  }

  > :only-child {
    color: black;
    margin: 0;
  }
}

// ================== Tables

table {
  border-collapse: collapse;
  font-size: $table-font-size;
}

td,
th {
  border: $table-border;
  padding: $table-cell-padding;
}

th {
  font-weight: $body-font-weight-bold;
}

// ================== Layout Elements

.layout {
  display: grid;
  grid-template: minmax(0, 1fr) / minmax(0, min-content) minmax(0, 1fr);
  max-width: 800px;
  margin: auto;
}

.sidebar {
  flex-shrink: 0px;

  > div {
    position: sticky;
    top: 0;

    padding: 42px 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.8;

    > * {
      padding: 3px;
      white-space: nowrap;
    }
  }
}

.main-content {
  padding: 20px;
  padding-bottom: 50px;
  border-left: 2px solid #e0e0e0;
  min-height: 100vh;

  > * {
    margin-bottom: $main-content-vertical-margin;
  }

  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    margin: ($main-content-vertical-margin * 2) 0 $main-content-vertical-margin;
  }
}
